DirectoryIndex index.php
RewriteEngine On
RewriteBase /
RewriteRule ^$ public/index.php [L]
RewriteRule ^(robots\.txt)$ - [L,NC]
RewriteRule ^(sitemap\.xml)$ - [L,NC]
RewriteRule ^((?!public/).*)$ public/$1 [L,NC]